:root{
    --primary-color:#3C096C;
    --secondary-color: #5A189A;
    --bg-purple-10:#F6EBFF;
    --bg-purple-5: #FBF9FD;
    --bg-purple-50: #9A4FE3;
    --bg-purple-100: #240046;
    --text-color: #222222;
    --light-font-weight:200 ;
    --thin-font-weight: 300;
    --primary-font-weight: 500;
}



